.about-me, .projects-page{
    background-color: rgb(26, 24, 24);
    color: rgb(97, 136, 243);
    padding: 15px;
    margin: 15px;
    float: left;
    border: solid;
    border-color: white;
    border-width: 2px;
    font-family: "Mogra", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: x-large;
    opacity: 0.9;
}

.home-page {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.profile-pic {
    border-style: solid;
    border-color: white;
    margin: 25px;
    padding: 25px;
}

h1 {
    color: rgb(5, 5, 94);
    text-align: left;
    font-family: Arial, Helvetica, sans-serif; 
}

h2 {
    color: rgb(5, 5, 94);
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url("./assets/portfolio-background-pic.jpg");
    background-attachment: scroll;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;    
    color: rgb(191, 194, 3);
}

.site-footer {
    padding: 15px;
    font-size: large;
    color: rgb(191, 194, 3);
    background-color: black;
}

.site-footer a {
    color: rgb(191, 194, 3);
    text-decoration: none;
}

.social-icon {
    float: right;
}

form {
    width: 88px;
    padding: 15px;
    color: rgb(5, 5, 94);
}

.form-submit {
  margin: 15px;
  padding: 10px;
}

.resume-btn {
    margin: 15px;
    padding: 10px;
    font-size: large;
    font-weight: bold;
    border: none;
    cursor: pointer;
    color: rgb(191, 194, 3);
	background-color: black;
}

.project-image-container {
    color: white;
    text-align: center;
    margin: 15px;
    opacity: 0.9;
    
}

/*Google Font Styling*/
.mogra-regular {
  font-family: "Mogra", system-ui;
  font-weight: 400;
  font-style: normal;
}


