.about-me {
    background-color: black;
    color: rgb(204, 147, 201);
    padding: 15px;
    margin: 15px;
    font-family: "Mogra", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: larger;
}

.home-page {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.profile-pic {
    border-style: solid;
    border-color: white;
    margin: 25px;
    padding: 25px;
}

h1 {
    color: rgb(5, 5, 94);
    text-align: left;
    font-family: Arial, Helvetica, sans-serif; 
}

h2 {
    color: rgb(5, 5, 94);
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url("./assets/portfolio-background-pic.jpg");
    background-attachment: scroll;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: rgb(233, 218, 12);
}

h3 {
    font-family: Arial, Helvetica, sans-serif;    
    color: rgb(5, 5, 94);
    padding: 15px;
}

.site-footer {
    padding: 15px;
    font-size: large;
    color: rgb(191, 194, 3);
    background-color: black;
}

.site-footer a {
    color: rgb(191, 194, 3);
    text-decoration: none;
}

.social-icon {
    float: right;
}

form {
    width: 88px;
    padding: 15px;
    color: rgb(5, 5, 94);
}

.form-submit {
  margin: 15px;
  padding: 10px;
}

.resume-page {
    background-color: rgb(194, 222, 248);
    opacity: 0.70;
    padding: 15px;
}

/*Google Font Styling*/
.mogra-regular {
  font-family: "Mogra", system-ui;
  font-weight: 400;
  font-style: normal;
}


