.about-me{
    background-color: rgb(26, 24, 24);
    color: rgb(97, 136, 243);
    padding: 15px;
    margin: 15px;
    float: left;
    border: solid;
    border-color: white;
    border-width: 2px;
    font-family: "Mogra", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: x-large;
    opacity: 0.9;
    border-radius: 5px;
}

.home-page {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.profile-pic {
    border-style: solid;
    border-color: white;
    margin: 25px;
    padding: 25px;
    border-radius: 5px;
}

h1 {
    color: rgb(5, 5, 94);
    text-align: left;
    font-family: Arial, Helvetica, sans-serif; 
}

h2 {
    color: rgb(5, 5, 94);
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url("./assets/portfolio-background-pic.jpg");
    background-attachment: scroll;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;    
    color: rgb(191, 194, 3);
}

.site-footer {
    padding: 15px;
    font-size: large;
    color: rgb(191, 194, 3);
    background-color: black;
}

.site-footer a {
    color: rgb(191, 194, 3);
    text-decoration: none;
}

.social-icon {
    float: right;
}

form {
    width: 88px;
    padding: 15px;
    color: rgb(5, 5, 94);
}

.form-submit {
  margin: 15px;
  padding: 10px;
}

.resume-btn {
    margin: 15px;
    padding: 10px;
    font-size: large;
    font-weight: bold;
    border: none;
    cursor: pointer;
    color: rgb(191, 194, 3);
	background-color: black;
}

.resume-embed {
    opacity: 0.9;
    border: solid;
    border-color: white;
    border-width: 2px;
    margin: 15px;
    border-radius: 5px;
}

.projects-page{
    background-color: rgb(26, 24, 24);
    color: rgb(97, 136, 243);
    padding: 15px;
    margin: 15px 15px 25px 15px;
    float: left;
    border: solid;
    border-color: white;
    border-width: 2px;
    font-family: "Mogra", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: x-large;
    opacity: 0.9;
    display: block;
    border-radius: 5px;
}

.project-image-container {
    color: white;
    font-family: "Mogra", system-ui;
    font-size: large;
    opacity: 0.9;
    border: solid;
    border-color: white;
    border-width: 2px;
    opacity: 0.85;
    padding: 15px;  
    display: flex;
    /* center children inside the flex container */
    justify-content: center;
    align-items: center;
    gap: 12px; /* symmetric gap between images and content */
    margin: 15px 15px 25px 15px;
    border-radius: 5px;
    background-color: rgb(26, 24, 24);
    flex-wrap: wrap;
}

.project-image-container h3 {
    align-content: center;
    text-align: center;
    padding: 10px;
    font-size: x-large;
    font-weight: bolder;
}

/* Responsive: ensure screenshots stay inside their container on small screens */
@media (max-width: 720px) {
    /* Let project container stack vertically and fill width */
    .project-image-container {
        flex-direction: column;
        align-items: stretch;
    }

    /* Remove floats for page containers on small screens */
    .projects-page {
        float: none;
        width: auto;
        margin-left: 12px;
        margin-right: 12px;
    }
}

.project-github-link {
    font-size: x-large;
    flex-wrap: wrap;
    color: rgb(191, 194, 3);
    text-decoration: none;
    margin: 15px 15px 25px 15px;
}

/* Video demo styles */
.project-video {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 12px auto;
    border: 2px solid white;
    border-radius: 4px;
}
.project-video-link {
    display: inline-block;
    margin: 15px 15px 25px 15px;
    color: rgb(191, 194, 3);
    text-decoration: none;
    font-size: x-large;
}

/*Google Font Styling*/
.mogra-regular {
  font-family: "Mogra", system-ui;
  font-weight: 400;
  font-style: normal;
}


